// fonts
.fp {font-family: 'Open Sans',sans-serif;} // font primary
.fh {font-family: 'Noto Serif',sans-serif;} // font header
.fi {font-family: 'icons',sans-serif;} // font icon

// body
@bb: #fff; // body background

// colors
@orange: #f58220;
@green: #00a651;
@lightgreen: #8ebf3f;
@red: #ed1c24;
@blue: #0095da;
@pink: #ec008c;
@purple: #a54686;
@darkblue: #004b5c;
@brown: #512a00;
@yellow: #ffcb05;

@c1: #666;
@c2: @blue;

// font sizes
@fsp: 17px; // font size primary

// line heights
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// form
@input-size: 15px;
@input-height: 46px;
@input-padding: 15px;
@input-border: @darkblue;
@input-bg: #fff;

// layout
@content-width: 1160px;
@content-width-md: 960px;
@content-width-sm: 740px;
@content-width-xs: 100%;
@content-padding: 20px;

// media query >>> @media @xs, @sm
@lg: ~"(min-width: 1200px)";
@md: ~"(min-width: 992px) and (max-width: 1199px)";
@sm: ~"(min-width: 768px) and (max-width: 991px)";
@xs: ~"(min-width: 480px) and (max-width: 767px)";
@xxs: ~"(max-width: 479px)";