body {
	//width: @content-width;
}
#page-header { 
	position: relative;
	padding: 34px 0 0;
	background: @darkblue;
	text-align: right;
	@media @sm, @xs, @xxs {
		text-align: center;
	}
	&:before {
		content: '';
		position: absolute;
		z-index: 997;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: fade(@darkblue,80);
	}
	&:after {
		content: '';
		position: absolute;
		z-index: 998;
		top: 0;
		left: 0;
		right: 0;
		height: 10px;
		background: repeating-linear-gradient(
			to right,
			@darkblue,
			@darkblue 10%,
			@lightgreen 10%,
			@lightgreen 20%,
			@green 20%,
			@green 30%,
			@blue 30%,
			@blue 40%,
			@orange 40%,
			@orange 50%,
			@red 50%,
			@red 60%,
			@pink 60%,
			@pink 70%,
			@purple 70%,
			@purple 80%,
			@brown 80%,
			@brown 90%,
			@yellow 90%,
			@yellow 100%
		);
	}
	.header_logo {
		float: left;
		width: 265px;
		margin: -15px 20px 7px 0;
		@media @sm, @xs, @xxs {
			float: none;
			width: 210px;
			margin: -15px auto 7px;
		}
		a {
			display: block;
			height: 144px;
			font-size: 0;
			text-decoration: none;
			background-image: url(../images/logo/01.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 100% auto;
		}
	}
	.container {
		position: relative;
		z-index: 999;
	}
}
#col-main {
	width: 760px;
	float: right;
	margin: 0 0 100px;
	@media @md, @sm, @xs, @xxs {
		width: 100%;
		margin: 0 0 50px;
	}
}
#col-main-left {
	float: left;
	width: 660px;
	margin: 0 0 100px;
	@media @md, @sm, @xs, @xxs {
		width: 100%;
		margin: 0 0 50px;
	}
}
#col-left {
	width: 265px;
	float: left;
	margin: 0 0 100px;
	@media @md, @sm, @xs, @xxs {
		width: 100%;
		margin: 0 0 50px;
	}
}
#col-right {
	width: 360px;
	float: right;
	margin: 0 0 100px;
	@media @md, @sm, @xs, @xxs {
		width: 100%;
		margin: 0 0 50px;
	}
}
#wrapper {
	margin: 0 0 100px;
	@media @md, @sm, @xs, @xxs {
		margin: 0 0 50px;
	}
}
.mod_menu-top { 
	display: inline-block;
	margin: 0 0 27px;
	@media @sm, @xs, @xxs {
		margin: 0 10px 5px;
	}
	ul { 
		.rlist;
		display: inline-block;
		li {
			display: inline-block;
			color: #fff;
			font-size: 15px;
			margin: 0 4px;
			&:after {
				content: '/';
				margin: 0 0 0 9px;
			}
			&:last-child {
				&:after {
					display: none;
				}
			}
			a { 
				color: #fff;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}

.mod_custom-translator { 
	display: inline-block;
	margin: 0 0 27px 28px;
	@media @sm, @xs, @xxs {
		margin: 0 10px 5px;
	}
	.goog-te-gadget-simple {
		background: transparent;
		border-color: transparent;
		.goog-te-menu-value {
			color: #fff;
			span {
				color: #fff!important;
			}
		}
	}
}

.mod_menu-login { 
	display: inline-block;
	position: relative;
	color: #fff;
	padding: 0 50px 0 0;
	margin: 0 0 27px 28px;
	@media @sm, @xs, @xxs {
		margin: 0 10px 5px;
	}
	&:after {
		.fi;
		.border-radius(15px);
		content: '\e80c';
		position: absolute;
		top: 50%;
		right: 8px;
		width: 30px;
		height: 30px;
		line-height: 28px;
		margin: -15px 0 0;
		text-align: center;
		border: 1px solid #fff;
	}
	ul { 
		.rlist;
		display: inline-block;
		li { 
			display: inline-block;
			font-size: 15px;
			&:after {
				content: '/';
				margin: 0 0 0 3px;
			}
			&:last-child {
				&:after {
					display: none;
				}
			}
			a { 
				color: #fff;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}

.mod_search { 
	display: inline-block;
	width: 68%;
	margin: 0 0 30px;
	@media @md {
		width: 50%;
	}
	@media @sm, @xs, @xxs {
		margin: 20px 0;
	}
	@media @xs, @xxs {
		display: block;
		width: auto;
	}
	form { 
		position: relative;
		&:before {
			.fi;
			content: '\e80d';
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			width: 50px;
			line-height: @input-height;
			font-size: 30px;
			text-align: center;
			color: @darkblue;
			@media @xs, @xxs {
				display: none;
			}
		}
		div { 

			input { 
				border-color: transparent;
				padding-left: 57px;
				@media @xs, @xxs {
					padding-left: 15px;
				}
				&:hover, &:focus {
					border-color: @darkblue;
				}
				&::-webkit-input-placeholder {
					color: @darkblue;
				}
				&:-moz-placeholder {
					color: @darkblue;
				}
				&::-moz-placeholder {
					color: @darkblue;
				}
			}

			button { 
				position: absolute;
				right: 0;
				top: 0;
				padding: 0 35px;
				@media @xs, @xxs {
					font-size: 0;
					padding: 0 15px;
					&:before {
						.fi;
						font-size: 22px;
						font-weight: normal;
						content: '\e80d';
					}
				}
			}
		}
	}
}

.mod_custom-slideshow { 
	position: relative;
	top: -200px;
	margin: 0 0 -200px;
	overflow: hidden;
	@media @md, @sm, @xs, @xxs {
		top: 0!important;
		margin: 0!important;
	}
	@media @xs, @xxs {
		overflow: visible;
		margin: 0 0 40px!important;
	}
	.items { 

		.item { 
			position: relative;
			display: none;
			padding: 38% 0 0;
			width: 100%;
			background-repeat: no-repeat;
			background-position: center;
			-webkit-background-size: cover;
			background-size: cover;
			background-attachment: fixed;
			@media @xs, @xxs {
				padding: 75% 0 0 0;
			}
			&:nth-child(1) {
				display: block;
			}
			&.item_01 a .mod-content {
				h2,p {
					border-left-color: @darkblue;
				}
				h2:before {
					color: @darkblue;
				}
			}
			&.item_02 a .mod-content {
				h2,p {
					border-left-color: @lightgreen;
				}
				h2:before {
					color: @lightgreen;
				}
			}
			&.item_03 a .mod-content {
				h2,p {
					border-left-color: @green;
				}
				h2:before {
					color: @green;
				}
			}
			&.item_04 a .mod-content {
				h2,p {
					border-left-color: @blue;
				}
				h2:before {
					color: @blue;
				}
			}
			&.item_05 a .mod-content {
				h2,p {
					border-left-color: @orange;
				}
				h2:before {
					color: @orange;
				}
			}
			&.item_06 a .mod-content {
				h2,p {
					border-left-color: @red;
				}
				h2:before {
					color: @red;
				}
			}
			&.item_07 a .mod-content {
				h2,p {
					border-left-color: @pink;
				}
				h2:before {
					color: @pink;
				}
			}
			&.item_08 a .mod-content {
				h2,p {
					border-left-color: @purple;
				}
				h2:before {
					color: @purple;
				}
			}
			&.item_09 a .mod-content {
				h2,p {
					border-left-color: @brown;
				}
				h2:before {
					color: @brown;
				}
			}
			&.item_10 a .mod-content {
				h2,p {
					border-left-color: @yellow;
				}
				h2:before {
					color: @yellow;
				}
			}
			a { 
				text-decoration: none;
				color: @darkblue;
				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
				}
				figure { 

					img { 

					}
				}

				.mod-content { 
					position: absolute;
					z-index: 1;
					bottom: 15.5%;
					font-size: 24px;
					line-height: 1.2;
					@media (max-width:1580px) {
						font-size: 1.4vw;
						bottom: 10%;
					}
					@media @sm {
						font-size: 1.8vw;
					}
					@media @xs, @xxs {
						bottom: 0;
						left: 20px;
						right: 20px;
						font-size: 14px;
					}
					h2 { 
						.border-radius(0 6px 6px 0);
						.transition(0.2s);
						position: relative;
						float: left;
						background: #fff;
						margin: 0 0 -10px;
						line-height: 1.1;
						font-size: 40px;
						text-transform: uppercase;
						padding: 24px 34px 20px 48px;
						border-left: 10px solid transparent;
						@media (max-width:1580px) {
							font-size: 1.8vw;
						}
						@media @sm {
							font-size: 2.2vw;
						}
						@media @xs, @xxs {
							.border-radius(0);
							float: none;
							padding: 10px 10px 0;
							font-size: 20px;
							margin: 0;
							background: fade(#fff,80);
						}
						&:before {
							.fi;
							content: '\f101';
							float: right;
							margin: 0 0 0 20px;
							font-weight: normal;
						}
						&:hover{
							color: @blue;
						}
					}

					p { 
						.border-radius(0 6px 6px 0);
						position: relative;
						float: left;
						clear: left;
						margin: 0;
						padding: 10px 60px 18px 48px;
						background: #fff;
						border-left: 10px solid transparent;
						@media @xs, @xxs {
							.border-radius(0);
							float: none;
							padding: 10px;
							background: fade(#fff,80);
						}
					}
				}
			}
		}
	}
	.pager_bottom {
		position: absolute;
		z-index: 101;
		padding: 10px 0 34px;
		left: 0;
		right: 0;
		bottom: 0;
		text-align: right;
		@media @xs, @xxs  {
			padding: 10px 0;
			bottom: auto;
			top: 100%;
			background: @darkblue;
			text-align: center;
		}
		span {
			.border-radius(9px);
			display: inline-block;
			vertical-align: top;
			font-size: 0;
			width: 18px;
			height: 18px;
			margin: 0 0 0 10px;
			background: #fff;
			border: 5px solid #fff;
			cursor: pointer;
			&.cycle-pager-active {
				background: @darkblue;
			}
		}
	}
	.prev, .next {
		.border-radius(60px);
		.transition(0.2s);
		position: absolute;
		z-index: 102;
		bottom: 28%;
		left: -60px;
		width: 120px;
		height: 120px;
		line-height: 120px;
		text-align: center;
		padding: 0 0 0 50px;
		background: @darkblue;
		font-size: 0;
		text-decoration: none;
		color: #fff;
		@media @md, @sm {
			width: 60px;
			height: 60px;
			line-height: 60px;
			left: -30px;
			bottom: 50%;
			padding: 0 0 0 25px;
			margin: 30px 0 0;
		}
		@media @xs, @xxs {
			display: none;
		}
		&:hover{
			background: @blue;
		}
		&:before {
			.fi;
			content: '\f104';
			font-size: 60px;
			@media @md, @sm {
				font-size: 30px;
			}
		}
	}
	.next {
		left: auto;
		right: -60px;
		padding: 0 50px 0 0;
		@media @md, @sm {
			left: auto;
			right: -30px;
			padding: 0 25px 0 0;
		}
		&:before {
			content: '\f105';
		}
	}
}

.mod_menu-main, .mod_menu-header { 
	.box-shadow(0 0 16px fade(#000,40));
	border-bottom: 1px solid @darkblue;
	.container { 

		ul { 
			.rlist;
			display: table;
			width: 100%;
			table-layout: fixed;

			li { 
				.fh;
				text-transform: uppercase;
				position: relative;
				display: table-cell;
				text-align: center;
				font-size: 28px;
				line-height: 1.1;
				padding: 26px 10px;
				@media @md, @sm, @xs, @xxs {
					font-size: 22px;
				}
				@media @xs, @xxs {
					//padding: 30px 10px;
					display: block;
				}
				a { 
					.transition(0.2s);
					text-decoration: none;
					color: @darkblue;
					border-bottom: 1px solid transparent;
					&:hover{
						border-bottom-color: @darkblue;
					}
					&:before {
						content: '';
						position: absolute;
						top: 30px;
						bottom: 30px;
						right: 0;
						left: -1px;
						border-left: 1px solid #ccc;
						border-right: 1px solid #ccc;
					}
				}
				&.act {
					&:before {
						content: '';
						position: absolute;
						top: 100%;
						left: 50%;
						margin: 0 0 0 -28px;
						border: 28px solid transparent;
						border-top: 12px solid fade(#000,10);
						border-bottom: none;
					}
					&:after {
						content: '';
						position: absolute;
						top: 100%;
						left: 50%;
						margin: 0 0 0 -14px;
						border: 14px solid transparent;
						border-top: 6px solid #fff;
						border-bottom: none;
					}
					a {
						color: @blue;
						&:hover{
							border-bottom-color: transparent;
						}
					}
				}
			}
		}
	}
}
.mod_menu-header {
	.container { 
		ul { 
			li { 
				padding: 56px 10px;
				@media @xs, @xxs {
					padding: 26px 10px;
				}
				&.act {
					a {
						&:after {
							.fi;
							content: '\e80e';
							position: absolute;
							bottom: 0;
							left: 0;
							right: 0;
							line-height: 1;
							font-size: 60px;
							@media @xs, @xxs {
								bottom: -22px;
							}
						}
					}
				}
			}
		}
	}
}
.filter_button { 
	text-align: center;
	a { 
		.btn;
		height: 64px;
		line-height: 64px;
		padding: 0 30px;
		min-width: 27%;
		background: @darkblue;
		&:hover{
			background: darken(@darkblue,10);
		}
		&:before {
			.fi;
			position: relative;
			top: 2px;
			content: '\f0b0';
			font-size: 26px;
			margin: -4px 12px -4px 0;
			display: inline-block;
		}
	}
}

.filter_tabs { 
	margin: 0 0 20px;
	ul { 
		.rlist;
		margin: 0 -10px;
		li { 
			display: inline-block;
			margin: 0 10px;
			a { 
				display: inline-block;
				font-size: 15px;
				color: #999;
				&:before {
					display: inline-block;
					text-decoration: none;
					margin: 0;
					float: right;
					font-size: 26px;
					line-height: 1;
					margin: 0 0 0 12px;
				}
			}
			&.act {
				a {
					color: @darkblue;
					text-decoration: none;
				}
			}
		}
	}
}

.tile_items { 
	.clearfix;
	clear: both;
	margin: 0 -10px;
	.item { 
		position: relative;
		float: left;
		width: 25%;
		padding: 0 0 15.5%;
		margin: 0 0 13px;
		@media @md {
			width: 33.3333%;
			padding: 0 0 20.8%;
		}
		@media @sm, @xs {
			width: 50%;
			padding: 0 0 31.5%;
		}
		@media (max-width: 620px) {
			width: 100%;
			padding: 0 0 63.5%;
		}
		&.item_01 a {
			h2 {
				border-left-color: @darkblue;
			}
		}
		&.item_02 a {
			h2 {
				border-left-color: @lightgreen;
			}
		}
		&.item_03 a {
			h2 {
				border-left-color: @green;
			}
		}
		&.item_04 a {
			h2 {
				border-left-color: @blue;
			}
		}
		&.item_05 a {
			h2 {
				border-left-color: @orange;
			}
		}
		&.item_06 a {
			h2 {
				border-left-color: @red;
			}
		}
		&.item_07 a {
			h2 {
				border-left-color: @pink;
			}
		}
		&.item_08 a {
			h2 {
				border-left-color: @purple;
			}
		}
		&.item_09 a {
			h2 {
				border-left-color: @brown;
			}
		}
		&.item_10 a {
			h2 {
				border-left-color: @yellow;
			}
		}
		a { 
			.border-radius(6px);
			position: absolute;
			top: 0;
			left: 10px;
			right: 10px;
			bottom: 0;
			overflow: hidden;
			&:hover{
				figure {
					left: -10px;
					right: -10px;
				}
			}
			figure { 
				.transition(0.1s);
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				img { 
					display: block;
				}
			}

			h2 { 
				.border-radius(0 6px 0 0);
				.fp;
				position: absolute;
				bottom: 0;
				left: 0;
				margin: 0;
				font-size: 18px;
				line-height: 1.3;
				color: #fff;
				padding: 9px 18px 9px 14px;
				background: @darkblue;
				border-left: 10px solid transparent;
			}
		}
	}
}

.mod_custom-events { 
	padding: 0 0 80px;
	.container { 

		.filter_button { 
			margin: 0 0 -20px;
			@media @sm, @xs, @xxs {
				margin: 0 0 10px;
			}
			a { 
				.border-radius(0 0 6px 6px);
			}
		}

		.filter_tabs { 
			text-align: right;
			margin: 0 0 50px;
			@media @sm, @xs, @xxs {
				text-align: center;
			}
		}


		.tile_items { 
			.clearfix;
			margin: 0 -10px 40px;
			.item {
				@media @md {
					width: 33.3333%;
					padding: 0 0 20.8%;
				}
				@media @sm, @xs {
					width: 50%;
					padding: 0 0 31.5%;
				}
				@media (max-width: 620px) {
					width: 100%;
					padding: 0 0 63.5%;
				} 
				@media @lg {
					&:nth-child(5) {
						width: 50%;
						padding: 0 0 32.15%;
						a {
							h2 {
								font-size: 32px;
								border-left-width: 18px;
								padding: 14px 20px 20px 22px;
							}
						}
					}
				}
			}
		}



		nav { 
			text-align: center;
			margin: 0 0 40px;
			a { 
				.btn;
				height: 64px;
				line-height: 64px;
				min-width: 27%;
				&:before {
					.fi;
					content: '\f141';
					display: inline-block;
					position: relative;
					top: 4px;
					font-weight: normal;
					font-size: 28px;
					margin: -4px 15px -4px 0;
				}
			}
		}
	}
}

.mod_custom-category { 
	position: relative;
	text-align: center;
	padding: 0 0 40px;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	background-image: url(../images/bg/01.jpg);
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: fade(@darkblue,70);
	}
	.container { 
		position: relative;
		.mod_title { 
			.fh;
			.border-radius(6px);
			position: relative;
			top: -45px;
			display: inline-block;
			color: #fff;
			text-transform: uppercase;
			line-height: 1.1;
			font-size: 40px;
			font-weight: bold;
			padding: 22px 30px;
			min-width: 63.5%;
			margin: 0 0 -11px;
			background: @darkblue;
			@media @sm, @xs, @xxs {
				font-size: 4vw;
			}
		}

		ul { 
			.rlist;
			margin: 0 -10px 20px;
			li { 
				display: inline-block;
				vertical-align: top;
				width: 33.3333%;
				margin: 0 -2px 20px;
				padding: 0 10px;
				@media @sm, @xs {
					width: 50%;
				}
				@media (max-width: 620px)  {
					width: 100%;
				}
				&.item_01 a {
					background: @darkblue;
					&:hover{
						background: darken(@darkblue,10);
					}
				}
				&.item_02 a {
					background: @lightgreen;
					&:hover{
						background: darken(@lightgreen,10);
					}
				}
				&.item_03 a {
					background: @green;
					&:hover{
						background: darken(@green,10);
					}
				}
				&.item_04 a {
					background: @blue;
					&:hover{
						background: darken(@blue,10);
					}
				}
				&.item_05 a {
					background: @orange;
					&:hover{
						background: darken(@orange,10);
					}
				}
				&.item_06 a {
					background: @red;
					&:hover{
						background: darken(@red,10);
					}
				}
				&.item_07 a {
					background: @pink;
					&:hover{
						background: darken(@pink,10);
					}
				}
				&.item_08 a {
					background: @purple;
					&:hover{
						background: darken(@purple,10);
					}
				}
				&.item_09 a {
					background: @brown;
					&:hover{
						background: darken(@brown,10);
					}
				}
				&.item_10 a {
					background: @yellow;
					&:hover{
						background: darken(@yellow,10);
					}
				}

				a { 
					.border-radius(6px);
					.transition(0.2s);
					position: relative;
					display: block;
					color: #fff;
					text-decoration: none;
					text-align: left;
					background: @darkblue;
					padding: 12px 0 16px;
					&:hover{
						background: darken(@darkblue,10);
					}
					&:before {
						position: absolute;
						top: 0;
						left: 0;
						width: 75px;
						line-height: 75px;
						margin: 0;
						font-size: 46px;
					}
					&:after {
						content: '';
						position: absolute;
						top: 0;
						left: 75px;
						width: 8px;
						height: 60px;
						background: @darkblue;
					}

					&:hover{
						figure {
							img {
								left: -2%;
								right: -2%;
								bottom: -1%;
								max-width: 104%;
							}
						}
					}

					h2 { 
						font-size: 24px;
						font-style: italic;
						color: #fff;
						text-transform: uppercase;
						margin: 0 10px -1px 100px;
						overflow-wrap: break-word;
						word-wrap: break-word;
						-ms-word-break: break-all;
						word-break: break-all;
						word-break: break-word;
						@media @md, @sm, @xs {
							font-size: 17px;
						}
						small { 
							display: block;
							text-transform: none;
							font-weight: normal;
							font-size: 17px;
						}
					}

					figure { 
						position: relative;
						padding: 0 0 66.6666%;
						overflow: hidden;
						margin: 16px 0 0;
						img { 
							.transition(0.1s);
							display: block;
							position: absolute;
							max-width: 100%;
							left: 0;
							right: 0;
							bottom: 0;
						}
					}
				}
			}
		}
	}
}

.mod_custom-interests { 
	padding: 85px 0 155px;
	.container { 

		.cols { 
			margin: 0 -10px;
			.col { 
				.clearfix;
				display: inline-block;
				vertical-align: top;
				margin: 0 -4px 0 0;
				padding: 0 10px;
				width: 33.3333%;
				@media @md, @sm, @xs, @xxs {
					display: block;
					margin: 0 0 30px;
					width: 100%;
				}
				.mod_title { 
					.fh;
					text-transform: uppercase;
					font-size: 28px;
					line-height: 1.2;
					font-weight: bold;
					margin: 0 0 32px;
					color: @darkblue;
					@media @md, @sm, @xs, @xxs {
						font-size: 22px;
						margin: 0 0 10px 120px;
					}
					@media @xxs {
						margin-left: 0;
					}
				}

				.item { 
					font-size: 15px;
					line-height: 1.55;
					a { 
						text-decoration: none;
						color: @c1;
						figure { 
							float: left;
							width: 45%;
							padding: 0 22px 0 0;
							@media @md, @sm, @xs {
								width: 120px;
								margin: -15px 0 0;
							}
							@media @xxs {
								width: 100px;
								padding: 0 15px 0 0;
							}
							img {
								.border-radius(50%);
								display: block;
							}
						}

						h2 { 
							font-weight: normal;
							color: @blue;
							text-transform: uppercase;
							font-size: 17px;
							font-style: italic;
							margin: 0 0 10px 45%;
							@media @md, @sm, @xs {
								margin-left: 120px;
							}
							@media @xxs {
								margin-left: 100px;
							}
							&:hover{
								text-decoration: underline;
							}
						}

						p { 
							margin: 0 0 10px 45%;
							@media @md, @sm, @xs {
								margin-left: 120px;
							}
							@media @xxs {
								margin-left: 100px;
							}
						}
					}
				}
			}
		}
	}
}

#col-about {
	background: #99b7be;
	.container {
		position: relative;
	}
}

.mod_custom-about { 
	float: left;
	width: 50%;
	padding: 0 90px 0 0;
	margin: 0 0 40px;
	font-size: 16px;
	line-height: 1.65;
	color: @darkblue;
	@media @md {
		font-size: 15px;
		width: 40%;
		padding: 0 20px 0 0;
	}
	@media @sm, @xs, @xxs {
		width: 100%;
		padding: 0;
		font-size: 15px;
		line-height: 1.4;
	}
	&:before, &:after {
		content: '';
		position: absolute;
		top: 0;
		right: 50%;
		bottom: 0;
		left: -9999em;
		margin: 0 20px 0 0;
		background: #ccdbde;
		@media @md {
			margin: 0 90px 0 0;
		}
		@media @sm, @xs, @xxs {
			display: none;
		}
	}
	&:after {
		right: 100%;
		background-repeat: no-repeat;
		background-position: right;
		background-image: url(../images/bg/02.png);
	}
	.mod_title { 
		.fh;
		.border-radius(6px 6px 0 0);
		position: relative;
		float: left;
		top: -45px;
		left: -20px;
		padding: 20px 30px 0 20px;
		margin: 0 0 -10px;
		text-transform: uppercase;
		font-size: 28px;
		line-height: 1.2;
		font-weight: bold;
		background: #ccdbde;
		@media @md {
			font-size: 22px;
		}
		@media @sm, @xs, @xxs {
			background: #99b7be;
		}
	}

	p { 
		clear: both;
		position: relative;
	}

	nav { 
		clear: both;
		position: relative;
		margin: 40px 0 20px;
		line-height: 1.2;
		font-size: 17px;
		@media @sm, @xs, @xxs {
			margin: 0;
		}
		a { 
			position: relative;
			display: inline-block;
			display: block;
			padding: 0 0 0 23px;
			font-weight: bold;
			text-transform: uppercase;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
			&:before {
				.fi;
				content: '\f101';
				position: absolute;
				left: 0;
				top: -2px;
				font-weight: normal;
				font-size: 24px;
				line-height: 1;
			}
		}
	}
}

.mod_menu-about { 
	float: left;
	width: 27%;
	padding: 50px 30px;
	@media @md {
		width: 32%;
	}
	@media @sm, @xs, @xxs {
		padding: 0;
		width: 100%;
	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		width: 27%;
		bottom: 0;
		margin: 0 0 0 -20px;
		background: #b7ccd1;
		@media @md {
			width: 283px;
			margin: 0 0 0 -90px;
		}
		@media @sm, @xs, @xxs {
			display: none;
		}
	}
	ul { 
		position: relative;

		li { 
			text-transform: uppercase;
			font-weight: bold;
			font-size: 14px;
			line-height: 1.2;
			margin: 0 0 14px;
			padding: 0 0 0 16px;
			@media @sm, @xs, @xxs {
				display: inline-block;
				margin: 0 10px 10px 0;
			}
			&:before {
				content: '\f105';
				font-weight: normal;
				top: -5px;
				font-size: 20px;
			}
			a { 
				color: @darkblue;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}

.mod_custom-magazine {
	position: relative;
	float: left;
	width: 23%;
	padding: 0 28px 0 47px;
	margin: 0 0 40px;
	@media @sm, @xs, @xxs  {
		padding: 0;
		width: 100%;
	}
	.mod_title { 
		.fh;
		.border-radius(6px 6px 0 0);
		position: relative;
		top: -45px;
		padding: 26px 20px 0;
		margin: 0 -48px -15px -56px;
		text-transform: uppercase;
		font-size: 21px;
		line-height: 1.2;
		font-weight: bold;
		text-align: center;
		color: @darkblue;
		background: #99b7be;
		@media @md, @sm, @xs {
			font-size: 18px;
		}
		@media @sm, @xs, @xxs {
			top: 0;
			padding: 0;
			margin: 0 20px 0 0;
			display: inline-block;
			vertical-align: middle;
		}
	}

	figure { 
		margin: 0 0 13px;
		@media @md {
			margin-left: -20px;
			margin-right: -20px;
		}
		@media @sm, @xs, @xxs {
			display: none;
		}
		a { 

			img { 
				display: block;
			}
		}
	}

	nav { 
		@media @md {
			margin: 0 -20px;
		}
		@media @sm, @xs, @xxs {
			display: inline-block;
			vertical-align: middle;
		}
		a { 
			position: relative;
			color: @darkblue;
			font-weight: bold;
			display: inline-block;
			padding: 0 0 0 22px;
			font-size: 14px;
			text-transform: uppercase;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}

			&:before {
				.fi;
				content: '\f101';
				position: absolute;
				left: 0;
				top: -2px;
				font-weight: normal;
				font-size: 22px;
				line-height: 1;
			}

		}
	}
}

#col-bottom {
	padding: 60px 0 14px;
	background: @darkblue;
}

.mod_custom-contact { 
	float: left;
	width: 28%;
	font-size: 16px;
	padding: 0 20px 0 0;
	margin: 0 0 40px;
	color: #fff;
	@media @md, @sm {
		width: 40%;
	}
	@media @xs, @xxs {
		width: 100%;
	}
	a {
		color: #fff;
	}
	address { 
		font-style: normal;
		margin: 0 0 15px;
		mark { 
			color: @yellow;
			text-transform: uppercase;
			display: block;
			font-weight: bold;
			margin: 0 0 20px;
			font-size: 17px;
		}
	}

	.phone {
		font-size: 20px;
	}
}

.mod_menu-bottom { 
	float: left;
	width: 48%;
	margin: 0 0 40px;
	@media @md, @sm {
		width: 60%;
	}
	@media @xs, @xxs {
		width: 100%;
	}
	.cols { 
		.clearfix;
		margin: 0 -10px;
		.col { 
			width: 50%;
			float: left;
			padding: 0 10px;
			@media @xs, @xxs {
				width: 100%;
			}
			@media @lg {
				&:nth-child(1) {
					width: 41%;
				}				
			}
			ul { 
				.rul;
				margin: 6px 0;
				li { 
					text-transform: uppercase;
					font-size: 14px;
					line-height: 1.2;
					font-weight: bold;
					margin: 0 0 14px;
					padding: 0 0 0 16px;
					color: @yellow;
					@media @xs, @xxs {
						display: inline-block;
						margin: 0 10px 10px 0;
					}
					&:before {
						content: '\f105';
						font-weight: normal;
						font-size: 20px;
						top: -5px;
						color: @yellow;
					}
					a { 
						color: @yellow;
						text-decoration: none;
						&:hover{
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}

.mod_menu-media { 
	float: left;
	width: 24%;
	margin: -8px 0 0;
	@media @md, @sm {
		width: 40%;
		margin: 0;
		padding-right: 20px;
	}
	@media @xs, @xxs {
		width: 100%;
		margin: 0;
	}
	ul { 
		.rlist;
		li { 
			font-size: 16px;
			text-transform: uppercase;
			padding: 0 0 0 70px;
			margin: 0 0 32px;
			font-weight: bold;

			a {
				color: #fff;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
				&:before {
					.border-radius(27px);
					position: absolute;
					display: inline-block;
					text-decoration: none;
					top: 50%;
					left: 0;
					width: 54px;
					height: 54px;
					line-height: 54px;
					font-size: 30px;
					margin: -27px 0 0;
					text-align: center;
					background: @orange;
				}
				&.icon-facebook {
					&:before {
						padding: 1px 2px 0 0;
					}
				}
			}
		}
	}
}

.mod_xnewsletter { 
	float: left;
	width: 24%;
	font-size: 15px;
	color: #fff;
	margin: 0 0 40px;
	@media @md, @sm {
		width: 60%;
	}
	@media @xs, @xxs {
		width: 100%;
	}
	
	.mod_title { 
		font-weight: bold;
		font-size: 17px;
		line-height: 1.2;
		text-transform: uppercase;
		margin: 0 0 10px;
	}

	p { 
		margin: 0 0 14px;
	}

	form { 
		position: relative;
		div { 

			input, input:hover, input:focus { 
				height: 40px;
				border-color: transparent;
			}

			button { 
				height: 40px;
				line-height: 40px;
				position: absolute;
				top: 0;
				right: 0;
				color: @blue;
				background: #fff;
				font-size: 0;
				padding: 0 15px;
				&:hover{
					color: @darkblue;
				}
				&:before {
					.fi;
					content: '\f124';
					font-weight: normal;
					font-size: 26px;
				}
			}
		}
	}
}

#page-footer {
	padding: 23px 0 50px;
	min-height: 308px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../images/bg/03.jpg);
	@media @sm, @xs, @xxs {
		background: none;
		min-height: 0;
	}
}


.mod_custom-footer-info {
	float: left;
	width: 70%;
	font-size: 13px;
	line-height: 1.7;
	color: @darkblue;
	@media @sm, @xs, @xxs {
		float: none;
		width: 100%;
	}
	&:before {
		.fi;
		content: '\e817';
		font-size: 45px;
		float: left;
		width: 150px;
		margin: -13px 0 0;
		@media @xxs {
			
		}
	}
	p {
		margin: 0 0 20px 150px;
		@media @xxs {
			margin-left: 0;
		}
	}
}

.mod_custom-copy-copy {
	float: right;
	width: 30%;
	text-align: right;
	font-size: 13px;
	line-height: 1.7;
	color: @darkblue;
	@media @sm, @xs, @xxs {
		float: none;
		text-align: center;
		width: auto;
	}
	p {
		margin: 0;
	}
}
.mod_custom-copy-xart {
	float: right;
	width: 30%;
	text-align: right;
	padding: 0 0;
	@media @sm, @xs, @xxs {
		float: none;
		width: auto;
		text-align: center;
	}
	a {
		display: inline-block;
		color: @darkblue;
		font-size: 11px;
		text-decoration: none;
		text-transform: uppercase;
		padding: 2px 22px 2px 0;
		background: url(../images/logo/xart.png) no-repeat right;
		background-size: 15px auto;
		.background-size(14px auto);
		&:hover{
			text-decoration: underline;
		}
	}
}
.mod_breadcrumbs {
	margin: 15px 0;
	ul {
		.rlist;
		li {
			display: inline-block;
			vertical-align: middle;
			font-size: 13px;
			color: #999;
			margin: 0 3px 0 0;
			&:after {
				display: inline-block;
				vertical-align: middle;
				content: '|';
				margin: 0 0 0 5px;
			}
			&:last-child {
				&:after {
					display: none;
				}
			}
			&.home {
				a {
					font-size: 0;
					text-decoration: none;
					&:before {
						.fi;
						content: '\e827';
						font-size: 20px;
					}
				}
			}
			a {
				display: inline-block;
				vertical-align: middle;
				color: #999;
				text-decoration: none;
				&:hover{
					color: @darkblue;
				}
			}
		}
	}
}
.mod_menu-sidebar {
	margin: 4px 0 55px;
	&>ul {
		.rul;
		&>li {
			.rli;
			line-height: 1.2;
			&>a {
				text-decoration: none;
				padding: 16px 0 15px 28px;
				display: block;
				font-weight: bold;
				color: @c1;
				border-bottom: 1px solid #e8e8e8;
				&:hover{
					color: @blue;
				}
				&:before {
					.fi;
					display: inline-block;
					text-decoration: none;
					content: '\e80a';
					position: absolute;
					top: 16px;
					left: 0;
					height: 18px;
					line-height: 18px;
					width: 18px;
					text-align: center;
					font-weight: normal;
					color: @darkblue;
				}
			}
			&.act {
				&>a {
					color: @blue;
					&:before {
						color: @blue;
					}
				}
			}
			&.has-ul {
				&>a {
					&:before {
						content: '\e808';
					}
				}
			}
			&>ul {
				.rul;
				padding: 21px 0 14px;
				border-bottom: 1px solid #e8e8e8;
				&>li {
					.rli;
					padding: 0 0 0 28px;
					margin: 0 0 11px;
					@media @md {
						display: inline-block;
						margin-right: 5px;
					}
					&>a {
						color: @c1;
						text-decoration: none;
						&:hover{
							text-decoration: underline;
						}
						&:before {
							.fi;
							display: inline-block;
							text-decoration: none;
							position: absolute;
							content: '\f105';
							top: -2px;
							left: 0;
							font-size: 20px;
							height: 20px;
							line-height: 20px;
							width: 20px;
							text-align: center;
							color: @darkblue;
						}
					}
					&.act {
						&>a {
							color: @blue;
							&:before {
								color: @blue;
								
							}
						}
					}
					&.has-ul {
						&>a {
							&:before {
								content: '\f107';
							}
						}
					}
					ul {
						.rlist;
						margin: 10px 0 20px 10px;
						font-size: 14px;
						li {
							margin: 0 0 5px;
							a {
								color: @c1;
								text-decoration: none;
								&:hover{
									text-decoration: underline;
								}
							}
							&.act {
								&>a {
									color: @blue;
								}
							}
						}
					}
				}
			}
		}
	}
}
.mod_banners {
	ul {
		.rlist;
		text-align: center;
		margin: 0 -20px;
		@media @md, @sm, @xs, @xxs {
			margin: 0 -5px;
		}
		li {
			display: inline-block;
			vertical-align: top;
			margin: 0 -2px 20px;
			padding: 0 20px;
			width: 25%;
			@media @md, @sm, @xs, @xxs {
				padding: 0 5px;
			}
			@media @xs {
				width: 33.3333%;
			}
			@media @xxs {
				width: 50%;
			}
			#col-left & {
				width: 100%;
			}
			img {
				display: block;
				margin: auto;
			}
		}
	}
}
.mod-labels { 
	ul { 
		.rlist;
		margin: 0 0 20px;
		li {
			display: inline-block;
			margin: 2px 8px 2px 0;
			a {
				.border-radius(4px);
				.transition(0.2s);
				display: block;
				color: #fff;
				font-size: 14px;
				font-style: italic;
				padding: 3px 10px;
				text-decoration: none;
				background: @darkblue;
				span {
					margin: 0 3px 0 -3px;
					&:before {
						margin: 0;
					}
				}
			}
			&.item_01 a {
				background: @darkblue;
				&:hover{
					background: darken(@darkblue,10);
				}
			}
			&.item_02 a {
				background: @lightgreen;
				&:hover{
					background: darken(@lightgreen,10);
				}
			}
			&.item_03 a {
				background: @green;
				&:hover{
					background: darken(@green,10);
				}
			}
			&.item_04 a {
				background: @blue;
				&:hover{
					background: darken(@blue,10);
				}
			}
			&.item_05 a {
				background: @orange;
				&:hover{
					background: darken(@orange,10);
				}
			}
			&.item_06 a {
				background: @red;
				&:hover{
					background: darken(@red,10);
				}
			}
			&.item_07 a {
				background: @pink;
				&:hover{
					background: darken(@pink,10);
				}
			}
			&.item_08 a {
				background: @purple;
				&:hover{
					background: darken(@purple,10);
				}
			}
			&.item_09 a {
				background: @brown;
				&:hover{
					background: darken(@brown,10);
				}
			}
			&.item_10 a {
				background: @yellow;
				&:hover{
					background: darken(@yellow,10);
				}
			}
		}
	}
}
.mod-meta {
	ul {
		.rlist;
		margin: 0 0 25px;
		li {
			padding: 0 0 0 37px;
			margin: 0 0 10px;
			color: @darkblue;
			[class*="icon-"] {
				position: absolute;
				top: 50%;
				left: 0;
				font-size: 24px;
				line-height: 24px;
				margin: -12px 0 0;
				&:before {
					margin: 0;
				}
			}
		}
	}
}
.mod-author {
	position: relative;
	padding: 0 0 0 20px;
	margin: 0 0 20px;
	font-size: 14px;
	font-style: italic;
	&:before {
		.fi;
		content: '\e820';
		position: absolute;
		top: 50%;
		left: 0;
		font-size: 18px;
		line-height: 24px;
		margin: -12px 0 0;
		font-style: normal;
		color: @darkblue;
	}
}
.mod-blockquote {
	position: relative;
	margin: 40px 0;
	padding: 0 0 0 40px;
	@media @xs, @xxs {
		padding-left: 30px;
	}
	&:before {
		content: '';
		position: absolute;
		top: 5px;
		left: 0;
		width: 10px;
		height: 58%;
		background: @darkblue;
		.item_01 & {
			background: @darkblue;
		}
		.item_02 & {
			background: @lightgreen;
		}
		.item_03 & {
			background: @green;
		}
		.item_04 & {
			background: @blue;
		}
		.item_05 & {
			background: @orange;
		}
		.item_06 & {
			background: @red;
		}
		.item_07 & {
			background: @pink;
		}
		.item_08 & {
			background: @purple;
		}
		.item_09 & {
			background: @brown;
		}
		.item_10 & {
			background: @yellow;
		}
	}
	figure {
		display: inline-block;
		vertical-align: top;
		width: 28%;
		padding: 0 30px 0 0;
		margin: 0 -5px 0 0;
		@media @xs {
			padding-right: 20px;
		}
		@media @xxs {
			width: 160px;
			margin-bottom: 20px;
		}
		img {
			.border-radius(50%);
			display: block;
		}
	}
	.content {
		display: inline-block;
		vertical-align: top;
		width: 72%;
		@media @xxs {
			width: 100%;
		}
	}
	.mod_title {
		.fh;
		color: @blue;
		text-transform: uppercase;
		font-style: italic;
		margin: 0 0 12px;
	}
	blockquote {
		margin: 0;
		padding: 0;
		font-size: 15px;
		line-height: 1.55;
		&:before {
			.fi;
			content: '\f10d';
			float: left;
			font-size: 36px;
			line-height: 1;
			margin: 4px 15px 0 0;
			color: @darkblue;
			.item_01 & {
				color: @darkblue;
			}
			.item_02 & {
				color: @lightgreen;
			}
			.item_03 & {
				color: @green;
			}
			.item_04 & {
				color: @blue;
			}
			.item_05 & {
				color: @orange;
			}
			.item_06 & {
				color: @red;
			}
			.item_07 & {
				color: @pink;
			}
			.item_08 & {
				color: @purple;
			}
			.item_09 & {
				color: @brown;
			}
			.item_10 & {
				color: @yellow;
			}
		}
	}
}
.mod_custom-detail-tip, .mod_custom-detail-event { 
	.clearfix;
	margin: 40px 0;
	h1 {
		float: left;
		margin: 0 0 40px;
		@media @md, @sm, @xs, @xxs {
			float: none;
		}
	}
	.mod-back {
		position: relative;
		float: right;
		width: 170px;
		margin: 10px 0;
		padding: 0 0 0 36px;
		line-height: 1.2;
		@media @md, @sm, @xs, @xxs {
			float: none;
			width: auto;
			margin: -20px 0 20px;
		}
		a {
			display: inline-block;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
			&:before {
				.fi;
				content: '\e818';
				position: absolute;
				top: 50%;
				left: 0;
				height: 30px;
				line-height: 30px;
				font-size: 30px;
				margin: -15px 0 0;
				color: @darkblue;
			}
		}
	}
	.mod-left { 
		clear: right;
		float: left;
		width: 50%;
		padding: 0 40px 0 0;
		@media @md, @sm {
			padding-right: 10px;
		}
		@media @xs, @xxs {
			padding-right: 0;
			width: 100%;
		}
		.mod-thumbnails { 
			figure { 
				margin: 0 0 20px;
				a { 
					.border-radius(6px);
					.transition(0.2s);
					display: block;
					padding: 19px;
					border: 1px solid #ccc;
					@media @xxs {
						padding: 4px;
					}
					&:hover{
						.opacity(0.8);
					}
					img { 
						.border-radius(6px);
						display: block;
						margin: auto;
					}
				}
			}
			ul { 
				.rlist;
				.border-radius(6px);
				padding: 19px 9px 0;
				margin: 0 0 20px;
				text-align: center;
				border: 1px solid #ccc;
				@media @xxs {
					padding: 4px 0;
				}
				li { 
					display: inline-block;
					vertical-align: middle;
					width: 33.3333%;
					margin: 0 -2px;
					padding: 0 10px;
					@media @sm {
						width: 50%;
					}
					@media @xxs {
						padding: 0 4px;
					}
					a { 
						.transition(0.2s);
						display: block;
						margin: 0 0 19px;
						@media @xxs {
							margin-bottom: 2px;
						}
						&:hover{
							.opacity(0.8);
						}
						img { 
							.border-radius(6px);
							display: block;
							margin: auto;
						}
					}
				}
			}
		}
	}

	.mod-right { 
		float: right;
		width: 50%;
		padding: 0 0 0 10px;
		@media @xs, @xxs {
			width: 100%;
			padding-left: 0;
		}
		.mod-description { 
			nav { 
				text-align: right;
				margin: -20px 0 20px;
				a { 
					display: inline-block;
					color: @darkblue;
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
					&:before {
						.fi;
						content: '\f141';
						display: inline-block;
						text-decoration: none;
						float: left;
						font-size: 28px;
						line-height: 1;
						margin: -1px 12px 0 0;
					}
				}
			}
		}
	}
	.mod-map { 
		position: relative;
		padding: 0 0 48%;
		margin: 0 0 25px;
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: 0;
		}
	}

	.mod-contact { 
		display: inline-block;
		vertical-align: top;
		width: 38%;
		margin: 0 -4px 20px 0;
		padding: 0 20px 0 0;
		font-size: 15px;
		@media @md, @sm, @xs, @xxs {
			width: 100%;
		}
		.mod_title { 
			font-weight: bold;
			color: @darkblue;
			margin: 0 0 10px;
			font-size: 17px;
		}
		address { 
			font-style: normal;
			margin: 0 0 20px;
		}
		.phone { 
			font-size: 19px;
			line-height: 1;
			small { 

			}
		}
	}
	.mod-hours { 
		display: inline-block;
		vertical-align: top;
		width: 31%;
		margin: 0 -4px 20px 0;
		padding: 0 20px 0 0;
		font-size: 15px;
		@media @md {
			width: 50%;
		}
		@media @sm, @xs, @xxs {
			width: 100%;
		}
		.mod_title { 
			font-weight: bold;
			color: @darkblue;
			margin: 0 0 10px;
			font-size: 17px;
		}
		table { 
			tbody { 
				tr { 
					th, td { 
						font-weight: normal;
						padding: 0;
					}
					th {
						padding-right: 30px;
					}
				}
			}
		}
	}
	.mod-content { 
		display: inline-block;
		vertical-align: top;
		width: 31%;
		margin: 0 -4px 20px 0;
		padding: 0 20px 0 0;
		font-size: 15px;
		@media @md {
			width: 50%;
		}
		@media @sm, @xs, @xxs {
			width: 100%;
		}
		.mod_title { 
			font-weight: bold;
			color: @darkblue;
			margin: 0 0 10px;
			font-size: 17px;
		}
	}
}
.mod_custom-detail-article {
	h1 {
		margin: 0 0 10px;
	}
	.mod-meta-header {
		.mod-meta {
			display: inline-block;
			margin-right: 14px;
			ul {
				display: inline-block;
				li {
					display: inline-block;
					font-size: 14px;
					color: @c1;
					font-style: italic;
					padding-left: 22px;
					margin: 0 8px 0 0;
					[class*="icon"] {
						font-size: 16px;
						color: @darkblue;
					}
				}
			}
		}
		.mod-labels {
			display: inline-block;
			ul {
				display: inline-block;
			}
		}
	}
}
.mod_costom-detail-region {
	&.item_01 h1 span {
		background: @darkblue;
	}
	&.item_02 h1 span {
		background: @lightgreen;
	}
	&.item_03 h1 span {
		background: @green;
	}
	&.item_04 h1 span {
		background: @blue;
	}
	&.item_05 h1 span {
		background: @orange;
	}
	&.item_06 h1 span {
		background: @red;
	}
	&.item_07 h1 span {
		background: @pink;
	}
	&.item_08 h1 span {
		background: @purple;
	}
	&.item_09 h1 span {
		background: @brown;
	}
	&.item_10 h1 span {
		background: @yellow;
	}
	h1 {
		position: relative;
		padding: 0 0 0 106px;
		margin: 0 0 45px;
		span {
			.border-radius(6px);
			position: absolute;
			top: 50%;
			left: 0;
			width: 74px;
			height: 74px;
			line-height: 74px;
			font-weight: normal;
			text-align: center;
			margin: -37px 0 0;
			color: #fff;
			background: @darkblue;
		}
		small {
			.fp;
			display: block;
			font-weight: normal;
			text-transform: none;
			font-size: 24px;
			margin: 9px 0 0 ;
		}
	}
	.attributes {
		margin: 35px 0;
		width: 100%;
		tr {
			&:first-child {
				th, td {
					border-top: none;
				}
			}
			th, td {
				padding: 12px 10px;
				font-weight: normal;
				border-top: 1px solid #e8e8e8;
				vertical-align: top;
			}
			th {
				color: @darkblue;
				[class*="icon-"] {
					font-size: 22px;
					line-height: 1;
					&:before {
						margin: 0;
					}
				}
			}
		}
	}
}
.mod_custom-region-sidebar {
	margin: 0 0 50px;
	figure {
		margin: 0 0 35px;
		img {
			display: block;
		}
	}
	.mod_title {
		color: @darkblue;
		font-weight: bold;
		margin: 0 0 15px;
		[class*="icon-"] {
			float: right;
			font-size: 72px;
			line-height: 1;
			font-weight: normal;
			&:before {
				margin: 0;
			}
		}
		.icon-infocentrum {
			color: #009836;
		}
	}
	address {
		font-style: normal;
		font-size: 15px;
		line-height: 1.5;
		margin: 0 0 28px;
	}
	.phone, .email, .web {
		position: relative;
		padding: 0 0 0 38px;
		margin: 0 0 14px;
		font-size: 15px;
		&:before {
			.fi;
			color: @darkblue;
			position: absolute;
			left: 0;
			top: 50%;
			font-size: 26px;
			line-height: 1;
			margin: -13px 0 0;
		}
		span {
			display: inline-block;
			min-width: 50px;
			@media @xxs {
				display: block;
				font-weight: bold;
			}
		}
		mark {
			font-size: 21px;
		}
	}
	.phone {
		&:before {
			content: '\e829';
		}
	}
	.email {
		&:before {
			content: '\f0e0';
			font-size: 22px;
			margin: -11px 0 0;
		}
	}
	.web {
		&:before {
			content: '\f124';
		}
	}
}
.mod_menu-tips {
	padding: 45px 0 0;
	margin: 0 0 50px;
	border-top: 1px solid #ccc;
	.mod_title {
		.fh;
		color: @darkblue;
		text-transform: uppercase;
		position: relative;
		padding: 0 0 0 70px;
		margin: 0 0 30px;
		font-size: 26px;
		line-height: 1.2;
		font-weight: bold;
		&:before {
			.fi;
			.border-radius(50%);
			content: '\f164';
			position: absolute;
			top: 50%;
			left: 0;
			width: 58px;
			height: 58px;
			line-height: 55px;
			font-size: 30px;
			margin: -29px 0 0;
			text-align: center;
			font-weight: normal;
			border: 1px solid @darkblue;
		}
	}
	&.item_01 .mod_title mark {
		color: @darkblue;
	}
	&.item_02 .mod_title mark {
		color: @lightgreen;
	}
	&.item_03 .mod_title mark {
		color: @green;
	}
	&.item_04 .mod_title mark {
		color: @blue;
	}
	&.item_05 .mod_title mark {
		color: @orange;
	}
	&.item_06 .mod_title mark {
		color: @red;
	}
	&.item_07 .mod_title mark {
		color: @pink;
	}
	&.item_08 .mod_title mark {
		color: @purple;
	}
	&.item_09 .mod_title mark {
		color: @brown;
	}
	&.item_10 .mod_title mark {
		color: @yellow;
	}
	ul {
		li {
			text-transform: uppercase;
			line-height: 1.2;
			font-size: 16px;
			padding: 0 0 0 18px;
			margin: 0 0 15px;
			@media @md, @sm, @xs, @xxs {
				display: inline-block;
				margin-right: 20px;
			}
			&:before {
				content: '\f105';
				top: -4px;
			}
			a {
				font-weight: bold;
				text-decoration: none;
				color: @darkblue;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_custom-list-articles {
	.items {
		margin: 45px 0;
		.item {
			.clearfix;
			margin: 0 0 40px;
			figure {
				width: 33.3333%;
				float: left;
				padding: 5px 10px 20px 0;
				@media @xxs {
					width: 100%;
					padding-right: 0;
				}
				a {
					img {
						.transition(0.2s);
						.border-radius(6px);
						display: block;
						padding: 16px;
						border: 1px solid #ccc;
						-webkit-box-sizing: border-box;
						-moz-box-sizing: border-box;
						box-sizing: border-box;
					}
					&:hover {
						img {
							border-color: @c2;
						}
					}
				}
			}
			.content {
				width: 66.6666%;
				float: left;
				padding: 0 0 0 30px;
				@media @xs {
					padding-left: 10px;
				}
				@media @xxs {
					width: 100%;
					padding-left: 0;
				}
				h2 {
					.fp;
					font-size: 24px;
					margin: 0 0 5px;
					a {
						text-decoration: none;
						&:hover{
							text-decoration: underline;
						}
					}
				}
				.mod-meta-header {
					margin: 0 0 10px;
					.mod-author {
						display: inline-block;
						margin: 0 10px 0 0;
					}
					.mod-meta {
						display: inline-block;
						ul {
							display: inline-block;
							margin: 0;
							li {
								display: inline-block;
								font-size: 14px;
								color: @c1;
								font-style: italic;
								padding-left: 22px;
								margin: 0 8px 0 0;
								[class*="icon"] {
									font-size: 16px;
									color: @darkblue;
								}
							}
						}
					}
				}
			}
		}
	}
}
.mod_custom-tips {
	clear: both;
	.mod_title {
		font-weight: bold;
		font-size: 24px;
		line-height: 1.2;
		color: @blue;
		margin: 0 0 30px;
	}
	nav {
		text-align: center;
		margin: 35px 0 20px;
		a {
			.btn;
			height: 65px;
			line-height: 65px;
			padding: 0 30px;
			min-width: 27%;
			&:before {
				.fi;
				content: '\f141';
				font-weight: normal;
				font-size: 26px;
				line-height: 1;
				margin: 0 15px 0 0;
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
}
.mod_custom-objects { 
	.mod_cols { 
		.clearfix;
		margin: 0 -10px;
		.mod_col { 
			float: left;
			width: 50%;
			padding: 0 10px;
			margin: 0 0 50px;
			@media @md {
				width: 35%;
				margin-left: 7.5%;
			}
			@media @sm, @xs, @xxs {
				width: 100%;
			}
			.mod_title { 
				color: @blue;
				font-weight: bold;
				font-size: 24px;
				margin: 0 0 30px;
			}

			.items { 
				margin: 0 -10px;
				.item {
					position: relative;
					float: left;
					width: 50%;
					padding: 0 10px;
					margin: 0 0 18px;
					@media @md {
						width: 100%;
					}
					@media (max-width: 580px) {
						width: 100%;
					}
				}
				.item:nth-child(1) {
					overflow: hidden;
					&>a {
						.border-radius(6px);
						position: relative;
						display: block;
						padding: 0 0 66.6666%;
						overflow: hidden;
						&:hover{
							figure {
								width: 110%;
								height: 110%;
								top: -5%;
								left: -5%;
							}
							h2 {
								background: darken(@darkblue,10);
							}
						}
						figure {
							.transition(0.1s);
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							img {
								display: block;
							}
						}
						h2 {
							.fp;
							.transition(0.2s);
							position: absolute;
							bottom: 38px;
							margin: 0;
							color: #fff;
							font-size: 18px;
							padding: 10px 15px;
							background: @darkblue;
						}
					}
					.location { 
						position: absolute;
						top: 100%;
						margin: -38px 0 0;
						max-width: 100%;
						a { 
							display: block;
							background: @blue;
							color: #fff;
							font-size: 15px;
							line-height: 1;
							padding: 10px 15px 20px 30px;
							&:before {
								.fi;
								content: '\e81e';
								display: inline-block;
								position: absolute;
								top: 10px;
								left: 14px;
								font-size: 18px;
							}
						}
					}
				}
				.item:not(:nth-child(1)) { 
					&>a { 
						display: block;
						text-decoration: none;
						&:hover{
							h2 {
								color: @blue;
							}
						}
						figure { 
							display: inline-block;
							vertical-align: top;
							width: 50%;
							margin: 0 -5px 0 0;
							padding: 0 12px 0 0;
							img { 
								.border-radius(6px);
								display: block;
							}
						}
						h2 { 
							.fp;
							display: inline-block;
							vertical-align: top;
							width: 50%;
							font-size: 16px;
							margin: 0 0 20px;
							color: @darkblue;
						}
					}
					.location {
						padding: 0 0 0 50%;
						font-size: 15px;
						margin: -22px 0 0;
						a {
							position: relative;
							display: inline-block;
							padding: 0 0 0 18px;
							&:hover{
								&:before {
									color: @blue;
								}
							}
							&:before {
								.fi;
								content: '\e81e';
								display: inline-block;
								position: absolute;
								top: -2px;
								left: 0;
								font-size: 18px;
								color: @darkblue;
							}
						}
					}
				}
			}
		}
	}
}
.mod_custom-list-tips {
	margin: 0 0 65px;
	h1 {
		float: left;
		margin: 0 0 40px;
		@media @md, @sm, @xs, @xxs {
			float: none;
		}
	}
	.filter_tabs {
		float: right;
		margin: 17px 0;
		@media @md, @sm, @xs, @xxs {
			float: none;
			text-align: center;
		}
	}
	nav {
		text-align: center;
		margin: 35px 0 20px;
		a {
			.btn;
			height: 65px;
			line-height: 65px;
			padding: 0 30px;
			min-width: 27%;
			&:before {
				.fi;
				content: '\f141';
				font-weight: normal;
				font-size: 26px;
				line-height: 1;
				margin: 0 15px 0 0;
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
}
.mod_custom-login {
	position: relative;
	width: 620px;
	margin: 7.2% auto;
	padding: 0 0 0 160px;
	color: @darkblue;
	@media @xs, @xxs {
		padding: 0;
		width: auto;
		margin: 15% 10%;
	}
	@media @xxs {
		margin: 20% 0;
	}
	&:before {
		.fi;
		.border-radius(50%);
		content: '\e80c';
		position: absolute;
		top: 0;
		left: 0;
		width: 132px;
		height: 132px;
		line-height: 124px;
		font-size: 70px;
		text-align: center;
		color: @blue;
		border: 4px solid @blue;
		@media @xs, @xxs {
			display: none;
		}
	}
	h1 { 
		font-size: 36px;
		margin: 0 0 14px;
		@media @xxs {
			font-size: 32px;
		}
	}
	.mod-info { 
		position: relative;
		padding: 0 0 0 36px;
		margin: 0 0 35px;
		&:before {
			.fi;
			content: '\e821';
			position: absolute;
			positio: absolute;
			top: 50%;
			left: 0;
			line-height: 1;
			font-size: 24px;
			margin: -12px 0 0;
		}
		a { 

		}
	}
	.form-row { 
		margin: 0 0 14px;
		label { 
			display: inline-block;
			vertical-align: middle;
			width: 36%;
			margin: 0 -5px 0 0;
			padding: 0 20px 0 0;
			font-size: 15px;
			@media @xxs {
				width: 100%;
				margin-bottom: 5px;
			}
		}
		.content { 
			display: inline-block;
			vertical-align: middle;
			width: 64%;
			@media @xxs {
				width: 100%;
			}
		}
	}

	.mod-remember { 
		text-align: right;
		margin: 20px 0;
		font-size: 15px;
		.checkbox_wrap {
			float: right;
			margin: 0 0 0 10px;
		}
	}
	.mod-submit { 
		text-align: right;
		input {
			@media @xxs {
				width: 100%;
			}
		}
	}
}
.mod_custom-profile {
	margin: 0 18%;
	@media @md {
		margin: 0 10%;
	}
	@media @sm, @xs, @xxs {
		margin: 0;
	}
	h1 {
		text-align: center;
		font-size: 36px;
		margin: 0 0 28px;
	}
	.mod-logout {
		text-align: center;
		margin: 0 0 35px;
		a {
			.btn;
			&:after {
				.fi;
				content: '\e825';
				font-weight: normal;
				margin: 0 0 0 15px;
			}
		}
	}
}
.panes {
	.tabs {
		padding: 0 10px;
		border-bottom: 1px solid @darkblue;
		@media @xs, @xxs {
			padding: 0;
		}
		ul {
			.rlist;
			display: table;
			width: 100%;
			@media @xs, @xxs {
				display: block;
			}
			li {
				position: relative;
				display: table-cell;
				vertical-align: middle;
				height: 70px;
				margin: 0;
				padding: 8px 7px 0;
				font-size: 15px;
				line-height: 1.2;
				text-align: center;
				@media @xs, @xxs {
					display: block;
					height: auto;
					padding: 10px;
					margin: 0 0 10px;
					text-align: left;
				}
				&.cycle-pager-active {
					a {
						color: @darkblue;
						&:before {
							border-color: @darkblue;
						}
						[class*="icon-"] {
							border-color: @darkblue;
						}
					}
				}
				a {
					color: @c1;
					text-decoration: none;
					text-transform: uppercase;
					&:hover{
						color: @blue;
						[class*="icon-"] {
							border-color: @blue;
						}
					}
					&:before {
						.border-radius(6px 6px 0 0);
						content: '';
						position: absolute;
						top: 0;
						left: 7px;
						right: 7px;
						bottom: 0;
						border: 1px solid #ccc;
						border-bottom: none;
						@media @xs, @xxs {
							.border-radius(6px);
							left: 0;
							right: 0;
							border: 1px solid #ccc;
						}
					}
					@media @lg, @md, @sm {
						[class*="icon-"] {
							.border-radius(50%);
							position: relative;
							top: -2px;
							display: inline-block;
							vertical-align: middle;
							width: 40px;
							height: 40px;
							line-height: 38px;
							font-size: 20px;
							margin: 0 10px 0 0;
							text-align: center;
							border: 1px solid @c1;
							&:before {
								margin: 0;
							}
						}
					}
				}
			}
		}
	}
	.pane {
		padding: 60px 40px;
		position: static!important;
		display: none!important;
		@media @xs, @xxs {
			padding: 40px 0;
		}
		&.cycle-slide-active {
			display: block!important;
		}
	}
	table.info {
		margin: 0 0 24px;
		@media @xs, @xxs {
			display: block;
		}
		tr {
			@media @xs, @xxs {
				display: block;
			}
			th, td {
				padding: 0 10px 5px;
				text-align: left;
				font-weight: normal;
				font-size: 15px;
				line-height: 1.2;
				@media @xs, @xxs {
					display: block;
					padding: 0;
					margin: 0 0 20px;
				}
				mark {
					font-weight: bold;
					color: @blue;
				}
			}
			th {
				padding-left: 0;
				padding-right: 40px;
				@media @xs, @xxs {
					padding: 0;
					margin: 0 0 5px;
					font-weight: bold;
				}
			}
		}
	}
}