html,body,input,select,textarea{
	.fp;
}
body{
	font-size: @fsp;
	line-height: @lhp;
	font-weight: normal;
	color: @c1;
	background: @bb;
}
h1,h2,h3,h4,h5,h6{
	.fh;
	margin: 40px 0 10px;
	line-height: @lhh;
	font-weight: bold;
	color: @blue;
}
h1{
	font-size: 46px;
	text-transform: uppercase;
	margin: 0 0 20px;
	color: @darkblue;
	@media @xs, @xxs  {
		font-size: @fsp*2.1;
	}
	mark {
		color: @blue;
	}
}
h2{
	font-size: @fsp*1.9;
}
h3{
	font-size: @fsp*1.7;
}
h4{
	font-size: @fsp*1.5;
}
h5{
	font-size: @fsp*1.3;
}
h6{
	font-size: @fsp;
}
p{
	margin: 0 0 20px;
}
ul,ol{
	padding: 0;
	margin: 0 0 20px;
}
ul ul,ul ol,ol ol,ol ul{
	margin-bottom: 0;
	margin-top: 0;
}
ul>li{
	position: relative;
	list-style-type: none;
	padding: 0 0 0 28px;
	margin: 0 0 8px;
	&:before{
		.fi;
		content: '\f138';
		position: absolute;
		left: 0;
		top: -2px;
		font-size: 20px;
		color: @darkblue;
	}
	&>ul{
		padding: 10px 0 10px 20px;
	}
}
ol{
	list-style:decimal;
	&>li{
		margin: 0 0 8px 20px;
	}
	&>ol{
		padding: 10px 0;
	}
}
hr{
	margin: 0 0 20px;
	border: 0;
	border-top: 1px solid @darkblue;
}
strong,b{
	font-weight: bold;
}
em,i{
	font-style:italic;
}
sup,sub{
	position: relative;
	vertical-align: baseline;
	font-size: 60%;
	line-height: 1;
}
sup{
	bottom:1.4ex;
}
sub{
	top:.7ex;
}
a{
	color: @c2;
	cursor: pointer;
	&:hover{
		text-decoration:none;
	}
}
mark {
	color: inherit;
}